* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #F7F7F7;
}

.container {
    max-width: 1034px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-bottom: 620px;
}

.header__top {
    padding: 17px 0;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu__list-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-left: 95px;
}

.menu__list-link {
    color: #252B42;
}

.link_1 {
    color: #FA4A0C;
}

.menu__list-link:hover {
    color: #FA4A0C;
}

.header__item {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.header__inner {
    background-color: #171010a8;
    height: 90vh;
    text-align: center;
}

.header__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    padding-top: 73px;
}

.header__title span {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-top: 17px;
}

.header__text {
    padding-top: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #F7F7F7;
    padding-bottom: 55px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 530px;
    margin: 0 auto;
}

.buttons__link {
    width: 236px;
    height: 68px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 16px 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    transition: all .3s;
}

.buttons__link:hover {
    border: #FA4A0C;
    background: #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
}

.header__img {
    position: relative;
    top: 35px;
    left: -25px;
    padding-bottom: 70px;
    border-bottom: 2px solid #E4E4E4;
}

.app__workk {
    text-align: start;
    margin-bottom: 160px;
}

.app__work-title {
    text-align: center;
    margin-top: 72px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 137px;
}

.app__work-inner {
    display: flex;
}

.app__work-img {
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

.app__work-content {
    display: flex;
    align-items: center;
    padding-left: 170px;
}

.app__work__content-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin-bottom: 7px;
    max-width: 650px;
}

.app__work__content-title span {
    font-weight: bold;
    display: block;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 17px;
}

.app__work__content-title p {
    padding-top: 17px;
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.page_2 {
    padding-right: 120px;
}

.content_2 {
    padding: 0;
}

.download__appp {
    background-image: url(../images/img_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center center;
}

.download__app {
    background-color: #252b426e;
    height: 80vh;
}

.download__app-contacts {
    padding-top: 130px;
}

.download__app-contacts {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.download__app-contacts span {
    display: block;
    font-weight: 500;
    padding-bottom: 60px;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.buttons__link_2 {
    width: 200px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 13px 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    transition: all .3s;
}

.buttons__link_2:hover {
    border: #FA4A0C;
    background: #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
}

footer {
    padding: 40px 0 43px 0;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.footer__contact-link {
    margin-right: 24px;
}

.footer__inner p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5C5C5C;
}

.animation {
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    transform: translateY(50px);
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.animation_2 {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateX(-400px);
}

.active_2 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.animation_3 {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateX(400px);
}

.active_3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.animation_4 {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateX(400px);
}

.active_4 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


/* font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto',
sans-serif; */